<footer class="footer-07">
    <div class="footer-conteiner-top-med">
        <h2 class="footer-heading" style="text-align: center; padding-top: 15px;"><a href="#" class="logo">Burro.com</a>
        </h2>
        <div class="footer-top">
            <div class="col-md-12 text-center">
                <p class="menu">
                    @if (!isLoggedUser) {
                    <a [routerLink]="['/home']">Home</a>
                    <a [routerLink]="['/profile']">Profile</a>
                    <a>Team</a>
                    }@else {
                    <a [routerLink]="['/home']">Nueva</a>
                    <a [routerLink]="['/profile']">Profile</a>
                    <a [routerLink]="['/stats']">Estadisticas</a>
                    }
                </p>
                <ul class="ftco-footer-social p-0">
                    <ul class="ftco-footer-social p-0">
                        <li class="ftco-animate">
                            <a data-toggle="tooltip" data-placement="top" title="Instagram">
                                <span style="margin-right: 10px;">
                                    <a href="https://github.com/jolujuan/frontend-interModular">
                                        <i class="bi bi-github fs-4" style="color: white;"></i>
                                    </a>
                                </span>
                            </a>
                        </li>
                        <li class="ftco-animate">
                            <a data-toggle="tooltip" data-placement="top" title="Facebook">
                                <span>
                                    <a href="https://portal.edu.gva.es/ieslluissimarro/">
                                        <img style="margin-bottom: 10px;" src="https://i.postimg.cc/gcL2hJJG/logo.jpg"
                                            class="img-fluid" width="25">
                                    </a>
                                </span>
                            </a>
                        </li>
                    </ul>
                </ul>
            </div>
        </div>

        <div class="footer-med">
            <p>Este juego, diseñado como proyecto intermodular final para la clase de 2º de DAW del Instituto Simarro,
                combina estrategia, conocimiento y diversión en un tablero interactivo donde los jugadores avanzan
                respondiendo preguntas de múltiples categorías. Desarrollado con tecnologías web modernas, promueve el
                aprendizaje colaborativo y la competencia sana entre compañeros. ¡Sumérgete en esta aventura educativa y
                demuestra tus habilidades de conocimiento y estrategia!</p>
        </div>
    </div>

    <div class="footer-bot">
        <div class="row mt-5">
            <div class="col-md-12 text-center">
                <p class="copyright">
                    &lt;Jose Luis. Ismael. Miquel/&gt; <br>
                    Copyright &copy; {{ currentYear }}. Todos los derechos reservados
                </p>
            </div>
        </div>
    </div>
</footer>