<app-header></app-header>

<div class="container-main">

    <div></div>

    <div class="board">
        <div class="cell">extra</div>
        <div class="cell">6</div>
        <div class="cell">patras</div>
        <div class="cell">8</div>
        <div class="cell">extra</div>
        <div class="cell">10</div>
        <div class="cell">4</div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell">extra</div>
        <div class="cell">extra</div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell">12</div>
        <div class="cell">2</div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell"></div>
        <div class="cell">patras</div>
        <div class="cell">inicio</div>
        <div class="cell"></div>
        <div class="cell">llegada</div>
        <div class="cell">16</div>
        <div class="cell">extra</div>
        <div class="cell">14</div>
    </div>


</div>

<app-footer></app-footer>
