<app-header></app-header>

<div class="container-main">

    <div class="container-bot">
        <div class="cont new">
            <h3>Iniciar nueva partida</h3>
            <div class="texto">
                <p>Estás preparado para iniciar el mejor juego de preguntas y respuestas... ¿Preparados?</p>
            </div>
            <button class="toggle-btn" (click)="navigateToLogin(idBoard)" data-toggle="collapse">Play</button>


        </div>

        <div class="cont play">
            <h3>Conectarse a una partida</h3>
            <div class="texto">
                <p>¿Tienes un id de partida? Proporcionalo más abajo para comenzar a jugar con amigos</p>
            </div>
            <input type="number" class="input" [(ngModel)]="idBoard" (keyup.enter)="loadGame(idBoard)"
                (input)="showError=false" [ngClass]="{'input-error': showError}"
                [placeholder]="showError ? 'ID not found' : 'ID game'">

            <button (click)="loadGame(idBoard)" class="toggle-btn"
                data-toggle="collapse">Connect</button>

        </div>
    </div>
</div>

<app-footer></app-footer>