<app-header></app-header>

<div class="container-main">

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead>
            <tr>
              <th>ID</th>
              <th>Nickname</th>
              <th>Acertadas</th>
              <th>Falladas</th>
              <th>Totales</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{id}}</td>
              <td>{{nickname}}</td>
              <td>{{acertadas}}</td>
              <td>{{falladas}}</td>
              <td>{{totales}}</td>
            </tr>
          </tbody>
        </table>
      </div>

      
</div>

<app-footer></app-footer>