<app-header></app-header>

<div class="container-main">
    <div class="container-partida">
        <div class="cont">
            <h3>ID GAME</h3>
            <p><span id="copyText"><b>454</b></span></p>
            <span id="numeroEjemplo">123456</span>
            <button class="btn" onclick="copiarAlPortapapeles('numeroEjemplo')">
                <i class="bi bi-copy"></i>
            </button>
            <a href="https://wa.me/?text=URL_A_COMPARTIR" class="btn">
                <i class="fab fa-whatsapp"></i>
            </a>
        </div>
    </div>
</div>

<app-footer></app-footer>